<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="codebuilder">
      <section name="settingsSection" type="CodeBuilder.Configuration.SettingsSection, CodeBuilder.Framework"/>
      <section name="typeMappingSection" type="CodeBuilder.Configuration.TypeMappingSection, CodeBuilder.Framework"/>
      <section name="optionSection" type="CodeBuilder.Configuration.OptionSection, CodeBuilder.Framework"/>
      <section name="dataSourceSection" type="CodeBuilder.Configuration.DataSourceSection, CodeBuilder.Framework"/>
      <section name="templateSection" type="CodeBuilder.Configuration.TemplateSection, CodeBuilder.Framework"/>
    </sectionGroup>
  </configSections>
  <codebuilder>
    <settingsSection configSource="Config\Settings.xml"/>
    <typeMappingSection configSource="Config\TypeMapping.xml"/>
    <optionSection configSource="Config\Options.xml"/>
    <dataSourceSection configSource="Config\DataSources.xml"/>
    <templateSection configSource="Config\Templates.xml"/>
  </codebuilder>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
