<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sectionGroup name="codebuilder">
    <section name="codebuilder.settings" type="CodeBuilder.Configuration.SettingsSection, CodeBuilder.Framework"/>
    <!--<section name="codebuilder.typemapping" type="CodeBuilder.Configuration.TypeMappingSection, CodeBuilder.Framework" />-->
  </sectionGroup>
  <codebuilder>
    <!--<codebuilder.settings></codebuilder.settings>-->
    <codebuilder.typemapping>
      <typemappings>
        <typemapping name="sqlserver2005-csharp" database="sqlserver2005" langauge="csharp">
          <types>
            <add name="nvarchar" langtype="string" default="" />
          </types>
        </typemapping>
        <typemapping name="sqlserver2005-java" database="sqlserver2005" langauge="java">
          <types>
            <add name="nvarchar" langtype="string" default="" />
          </types>
        </typemapping>
      </typemappings>
    </codebuilder.typemapping>
  </codebuilder>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>