<typeMapping>
  <mappings>
    <mapping name="sqlserver2005-csharp" database="sqlserver2005" language="csharp">
      <types>
        <add name="nvarchar" langtype="string" default="" />
      </types>
    </mapping>
    <mapping name="sqlserver2005-java" database="sqlserver2005" language="java">
      <types>
        <add name="nvarchar" langtype="string" default="" />
      </types>
    </mapping>
  </mappings>
</typeMapping>