<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="codebuilder">
      <section name="codebuilder.settings" type=""/>
      <section name="codebuilder.typemapping" type="" />
    </sectionGroup>
  </configSections>
  <codebuilder>
    <codebuilder.settings></codebuilder.settings>
    <codebuilder.typemapping>
      <typemappings>
        <typemapping name="sqlserver2005-csharp" database="sqlserver2005" langauge="csharp">
          <types>
            <add name="nvarchar" langtype="string" default="1" />
          </types>
        </typemapping>
        <typemapping name="sqlserver2005-java" database="sqlserver2005" langauge="csharp">
          <types>
            <add name="nvarchar" langtype="string" default="1" />
          </types>
        </typemapping>
      </typemappings>
    </codebuilder.typemapping>
  </codebuilder>
</configuration>