using System;
using System.Collections.Generic;
using System.Collections.Specialized;
using System.Text;
using System.Xml;
using System.Xml.Serialization;

namespace $tdo.Package.$tdo.ModelObject.Name
{
    using LightFramework.Data;

    /// <summary>
    /// $tdo.ModelObject.Comment
    /// </summary>
    [Serializable]
    public class $tdo.ModelObject.Name#DTO : BaseDTO
    {
    }
}