<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="codebuilder">
      <section name="settings" type="CodeBuilder.Configuration.SettingsSection, CodeBuilder.Framework"/>
      <section name="typeMapping" type="CodeBuilder.Configuration.TypeMappingSection, CodeBuilder.Framework"/>
    </sectionGroup>
  </configSections>
  <codebuilder>
    <settings configSource="Config\Settings.xml"/>
    <typeMapping configSource="Config\TypeMapping.xml"/>
  </codebuilder>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
