<settings>
  <languages>
    <language name="C#" alias="csharp"/>
    <language name="JAVA" alias="java"/>
    <language name="Ruby" alias="ruby"/>
    <language name="PHP" alias="php"/>
  </languages>
  <exporters>
    <exporter name="powerdesinger12" type=""/>
    <exporter name="mysql5" type=""/>
    <exporter name="sqlserver2000" type=""/>
    <exporter name="sqlserver2005" type=""/>
    <exporter name="sqlserver2005" type=""/>
  </exporters>
  <databases>
    <database name="mysql50" exporter="mysql5"/>
    <database name="sqlserver2000" exporter="sqlserver2000"/>
    <database name="sqlserver2005" exporter="sqlserver2005"/>
    <database name="sqlserver2008" exporter="sqlserver2005"/>
    <database name="oracle8i" exporter="oracle"/>
    <database name="oracle9i" exporter="oracle"/>
  </databases>
  <templateEngines>
    <templateEngine name="NVelocity" adapter="" />
    <templateEngine name="Razor" adapter="" />
    <templateEngine name="Vici" adapter="" />
    <templateEngine name="Ader" adapter="" />
  </templateEngines>
  <appSettings>
    <add key="helpUrl" value="http://www.dengzhiwei.com/category/codebuilder"/>
    <add key="feedbackUrl" value="http://www.dengzhiwei.com/category/codebuilder-feedback"/>
  </appSettings>
</settings>