<?xml version="1.0" encoding="utf-8" ?>
<settingsSection>
  <languages>
    <language name="C#" alias="csharp"/>
    <language name="JAVA" alias="java"/>
    <language name="Ruby" alias="ruby"/>
    <language name="PHP" alias="php"/>
  </languages>
  <exporters>
    <exporter name="PowerDesinger12" type="CodeBuilder.DataSource.Exporter.PowerDesigner12Exporter,CodeBuilder.Framework"/>
    <exporter name="MySQL5" type="CodeBuilder.DataSource.Exporter.PowerDesigner12Exporter,CodeBuilder.Framework"/>
    <exporter name="SqlServer2000" type="CodeBuilder.DataSource.Exporter.PowerDesigner12Exporter,CodeBuilder.Framework"/>
    <exporter name="SqlServer2005" type="CodeBuilder.DataSource.Exporter.PowerDesigner12Exporter,CodeBuilder.Framework"/>
    <exporter name="SqlServer2008" type="CodeBuilder.DataSource.Exporter.PowerDesigner12Exporter,CodeBuilder.Framework"/>
    <exporter name="Oracle" type="CodeBuilder.DataSource.Exporter.PowerDesigner12Exporter,CodeBuilder.Framework"/>
  </exporters>
  <databases>
    <database name="MySQL50" exporter="MySQL5"/>
    <database name="SqlServer2000" exporter="SqlServer2000"/>
    <database name="SqlServer2005" exporter="SqlServer2005"/>
    <database name="SqlServer2008" exporter="SqlServer2008"/>
    <database name="Oracle8i" exporter="Oracle"/>
    <database name="Oracle9i" exporter="Oracle"/>
  </databases>
  <templateEngines>
    <templateEngine name="NVelocity" ext="nv" adapter="CodeBuilder.TemplateEngine.NVelocityAdapter,CodeBuilder.Framework" />
    <templateEngine name="Razor" ext="rz" adapter="CodeBuilder.TemplateEngine.RazorEngineAdapter,CodeBuilder.Framework" />
    <templateEngine name="Vici" ext="vic" adapter="CodeBuilder.TemplateEngine.ViciEngineAdapter,CodeBuilder.Framework" />
    <templateEngine name="Ader" ext="adr" adapter="CodeBuilder.TemplateEngine.AderEngineAdapter,CodeBuilder.Framework" />
  </templateEngines>
  <appSettings>
    <add key="typeMapper" value="CodeBuilder.TypeMapping.DefaultTypeMapper,CodeBuilder.Framework" />
    <add key="onlineTemplateUrl" value="http://www.dengzhiwei.com/category/codebuilder/templates"/>
    <add key="helpUrl" value="http://www.dengzhiwei.com/category/codebuilder"/>
    <add key="feedbackUrl" value="http://www.dengzhiwei.com/category/codebuilder-feedback"/>
  </appSettings>
</settingsSection>